{{#*inline "page"}}

<div class="row mt-5">
  <div class="col"></div>

  <div class="col-6">
    <form class="form" method="post" action="{{ form_action }}">
      <h1 class="h3 mb-3 font-weight-normal">{{ form_header }}</h1>

      <label for="post_title">Post title</label>
      <input name="title" type="text" id="post_title" class="form-control" placeholder="Post title" required autofocus
        value="{{ post.title }}" />

      <br />

      <label for="post_body mt-3">Content</label>
      <textarea name="body" class="form-floating form-control mt-2" placeholder="post body" id="post_body"
        style="height: 20em">{{ post.body }}</textarea>

      {{!-- <div class="form-floating">
      </div> --}}

      <div class="d-flex flex-row gap-3 mt-4 justify-content-between">
        <a href="/" class="btn btn-md btn-outline-secondary">Back</a>

        <button class="btn btn-md btn-primary" type="submit">
          {{ form_submit_button_text }}
        </button>
      </div>
    </form>

  </div>

  <div class="col"></div>
</div>

{{/inline}}
{{> (lookup this "parent")}}