{{#*inline "page"}}

<div class="row mt-5">
  <div class="col"></div>
  <div class="col-6">

    <h1>{{post.title}}</h1>

    <div class="card bg-light my-5">
      {{!-- <div class="card-header">Header</div> --}}
      <div class="card-body">
        <p>
          {{post.body}}
        </p>
      </div>
      <div class="card-footer">
        <a href="/posts/{{post.id}}">
          #{{post.id}}
        </a>

        Posted by: {{post_user.name}} at {{post.created_at}}
      </div>
    </div>

    <div id="comments" class="my-3">
      <h5 class="text-secondary">Comments:</h5>

      {{#each comments}}
      <div class="card my-3" id="{{this.comment.id}}">
        <div class="card-body">
          <p>{{this.comment.content}}</p>
        </div>

        <div class="card-footer">
          <a href="/posts/{{this.comment.post_id}}#{{this.comment.id}}">
            #{{this.comment.id}}
          </a>

          Comment by: {{this.user.name}} at {{this.comment.created_at}}
        </div>
      </div>
      {{/each}}
    </div>

    <hr class="mt-5 my-3">

    <form class="form-signin" method="post" action="/comments/create">
      <h1 class="h3 mb-3 font-weight-normal">Comment</h1>

      <div class="form-floating my-2">
        <textarea name="body" class="form-control" placeholder="New comment" id="comment_body"
          style="height: 10em"></textarea>
        <label for="comment_body"></label>
      </div>

      <input type="hidden" name="post_id" id="post_id" value="{{post.id}}" />

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Comment
      </button>
    </form>


  </div>
  <div class="col"></div>
</div>

{{/inline}}
{{> (lookup this "parent")}}